<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <link href="~/css/ChoiceReg.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <title>Регистрация</title>
</head>
<body>
    <div class="contaner">
    @RenderBody()
    </div>
</body>
</html>