
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Регистрация</title>
    <link href="~/css/TeacherRegPage.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <script src="~/js/jquery.js"></script>

</head>
<body>
    <div class="contaner">
        @RenderBody()
    </div>
    <script src="~/js/ScriptsTeacherRegPage.js"></script>
</body>
</html>