<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/css/UserTeacherHomePage.css" rel="stylesheet" type="text/css" media="screen" />
    <title>Страница</title>
</head>
<body>
    <div>
        @RenderBody();
    </div>
</body>
</html>