
@{

    Layout = "_Layout";
    ViewData["Title"] = "LoginPage";
}

    <form method="post">
        <h1>Добро пожаловать!</h1>
        <p>E-mail</p>
        <input type="text" size="40" name="log" />
        <p>Password</p>
        <input type="text" size="40" name="pas" />
        <input id ="enter" type="submit" size="20" value="Войти" />
        
    </form>

