
@{
    Layout = "ChoiceReg";
    ViewData["Title"] = "RegPage";
}


<form method="post">
    <h1>Кто вы?</h1>
    <select name="nameStatus">
        <option>Учитель</option>
        <option>Ученик</option>
        <option>Родитель</option>
    </select>
    <input type="submit" value="Продолжить" />
</form>

