
@{
    ViewData["Title"] = "TeacherRegPageCode";
}

<h1>TeacherRegPageCode</h1>
<form method="post">
    <input type="text" name="code" />
    <input type="submit" value="Отправить" />
</form>
<label>@ViewBag.Head</label>

