
@{
    ViewData["Title"] = "ParentReg";
}

<h1>ParentReg</h1>
<form method="post">
    <h1>Регистрация</h1>
    <p>Фамилия матери</p>
    <br />
    <input type="text" name="surname" />
    <p>Имя матери</p>
    <br />
    <input type="text" name="name" />
    <p>Отчество матери</p>
    <br />
    <input type="text" name="patr" />
    <p>Телефон матери</p>
    <br />
    <input type="text" name="phone" />
    <p>Фамилия oтца</p>
    <br />
    <input type="text" name="surname" />
    <p>Имя отца</p>
    <br />
    <input type="text" name="name" />
    <p>Отчество отца</p>
    <br />
    <input type="text" name="patr" />
    <p>Телефон отца</p>
    <br />
    <input type="text" name="patr" />
    <p>Код</p>
    <br />
    <input type="text" name="phone" />
    <p>E-mail</p>
    <br />
    <input type="text" name="email" />
    <p>Пароль</p>
    <br />
    <input type="password" name="password" />
    <input type="submit" value="Подтвердить данные" />

</form>
