
@{
    ViewData["Title"] = "PupilRegCode";
}

<h1>PupilRegCode</h1>
<form method="post">
    <input type="text" name="code" />
    <input type="submit" value="Отправить" />
</form>
<label>@ViewBag.Head</label>

